Repository magebase/site: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, rails-routes-check, rails-schema-check, annotaterb-models, bundle-audit, brakeman, ruby-syntax-check, node-syntax-check, package-json-check, terraform-syntax-check, kustomization-validate, kustomization-lint, extra-manifests-validate

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false
  description: Run TypeScript compiler to check for type errors

rails-routes-check:
  name: Rails Routes Check
  entry: bash -c "RAILS_MASTER_KEY=4c0c11a6d1bc2ef984357839668cdb5c bin/rails routes"
  language: system
  pass_filenames: false
  description: Check if Rails routes are valid

rails-schema-check:
  name: Rails Schema Check
  entry: bin/rails db:schema:dump
  language: system
  pass_filenames: false
  description: Validate Rails database schema

annotaterb-models:
  name: AnnotateRb Model Annotations
  entry: 'sh -c "if command -v annotaterb >/dev/null 2>&1; then annotaterb models --position=after --sort; else echo \"⚠️  Skipping AnnotateRb (annotaterb not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  ...

bundle-audit:
  name: Bundle Audit
  entry: 'sh -c "if command -v bundle-audit >/dev/null 2>&1; then bundle-audit check --update; else echo \"⚠️  Skipping bundle audit (bundle-audit not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  description: Check for vulnerable gems in Gemfile.lock

brakeman:
  name: Brakeman Security Scan
  entry: 'sh -c "if command -v brakeman >/dev/null 2>&1; then brakeman --no-pager .; else echo \"⚠️  Skipping Brakeman security scan (brakeman not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  description: Run Brakeman security scanner on Rails application

ruby-syntax-check:
  name: Ruby Syntax Check
  entry: ruby -c
  language: system
  pass_filenames: true
  description: Check Ruby syntax

node-syntax-check:
  name: Node.js Syntax Check
  entry: node --check
  language: system
  pass_filenames: true
  description: Check JavaScript syntax

package-json-check:
  name: Package.json Validation
  entry: 'sh -c "if command -v npm >/dev/null 2>&1; then npm ls --depth=0 >/dev/null 2>&1 && echo \"✓ package.json dependencies are valid\"; else echo \"⚠️  Skipping package.json validation (npm not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  ...

terraform-syntax-check:
  name: Terraform Syntax Check
  entry: terraform fmt -check
  language: system
  pass_filenames: false
  description: Check Terraform syntax

kustomization-validate:
  name: Kustomization Validation
  entry: 'sh -c "if command -v kustomize >/dev/null 2>&1; then kustomize build --load-restrictor LoadRestrictionsNone \"$1\"; else echo \"⚠️  Skipping kustomization validation (kustomize not installed): $1\"; fi"
  
    '
  language: system
  pass_filenames: true
  ...

kustomization-lint:
  name: Kustomization Linting
  entry: 'sh -c "if command -v kustomize >/dev/null 2>&1; then kustomize build --load-restrictor LoadRestrictionsNone \"$1\" > /dev/null && echo \"✓ $1 validates successfully\"; else echo \"⚠️  Skipping kustomization linting (kustomize not installed): $1\"; fi"
  
    '
  ...

extra-manifests-validate:
  name: Extra Manifests Validation
  ...

Optimize Docker image for reduced size and faster builds
  .dockerignore
  .github/workflows/trigger-release-manifest-update.yml
  Dockerfile
Due: none

Fix Dockerfile syntax error: correct line continuation in npm RUN command
  Dockerfile
Due: none

fix: change npm ci to npm install in Dockerfile
  Dockerfile
Due: none

fix: resolve picomatch version mismatch
  package-lock.json
  package.json
Due: package-json-check

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  bad9dfa4326e0c2fd929d1e9883a6ed74b018489
Due: none

fix: revert Dockerfile to use npm ci for production builds
  Dockerfile
Due: none

fix: convert Knative Service to standard Kubernetes Deployment
  k8s/deployment.yaml
Due: none

fix: ensure docker-entrypoint is executable in container
  Dockerfile
Due: none

fix: resolve simple-swizzle version conflict
  package-lock.json
Due: none

fix: restore ENTRYPOINT and fix docker-entrypoint permissions
  Dockerfile
Due: none

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3d76579fcbf5783a26b93ad064bb76e61bfefa58
Due: none

fix: change release trigger from 'released' to 'published'
  .github/workflows/trigger-release-manifest-update.yml
Due: none

fix
  .github/workflows/trigger-release-manifest-update.yml
Due: none

feat: add manual trigger support to release manifest update workflow
  .github/workflows/trigger-release-manifest-update.yml
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5825d0acee2379024d737544612719f0292833d4
Due: none

feat: trigger release manifest update workflow on semantic release
  .github/workflows/app-build-and-deployment.yml
Due: none

fix: remove old workflow trigger
  .github/workflows/trigger-release-manifest-update.yml
Due: none

style: apply code formatting and linting fixes
  .github/workflows/trigger-release-manifest-update.yml
  Procfile
  app/controllers/quote_requests_controller.rb
  app/controllers/tenant/billing_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users/unlocks_controller.rb
  app/frontend/components/landing/QuoteFormSection.tsx
  app/frontend/pages/Tenant/Billing/Index.tsx
  app/models/tenant.rb
  app/services/quote_ready_email_service.rb
  app/services/stripe_billing_service.rb
  config/initializers/devise.rb
  config/routes.rb
  db/migrate/20250909035357_add_stripe_customer_id_to_tenants.rb
  db/schema.rb
  test/factories/tenants.rb
  test/fixtures/tenants.yml
  test/models/tenant_test.rb
Due: typescript-check, rails-routes-check, rails-schema-check, annotaterb-models, brakeman, ruby-syntax-check

Enhance quote request form with unique slug generation and comprehensive validation
  Procfile.dev
  app/controllers/application_controller.rb
  app/controllers/concerns/inertia_csrf_protection.rb
  app/controllers/quote_requests_controller.rb
  app/frontend/components/MediumSidebar.tsx
  app/frontend/components/TenantSidebar.tsx
  app/frontend/components/__tests__/MediumSidebar.test.tsx
  app/frontend/components/landing/FinalCTASection.tsx
  app/frontend/components/landing/InfiniteTestimonialsSection.tsx
  app/frontend/components/landing/QuoteFormSection.tsx
  app/frontend/components/ui/wobble-card.tsx
  app/frontend/pages/Tenant/Billing/Index.tsx
  app/models/client.rb
  app/models/quote_request.rb
  config/initializers/content_security_policy.rb
  config/initializers/secure_headers.rb
  config/puma.rb
  localhost.crt
  localhost.csr
  localhost.key
  public/images/apple-cards/logo.png
  public/noise.svg
  test_csrf_fix.rb
Due: typescript-check, annotaterb-models, brakeman, ruby-syntax-check

Replace delivery address with company location field
  app/controllers/quote_requests_controller.rb
  app/frontend/components/landing/QuoteFormSection.tsx
  db/migrate/20250909071602_add_company_location_to_quote_requests.rb
  db/schema.rb
Due: typescript-check, rails-schema-check, brakeman, ruby-syntax-check

Add international phone number input with US default country
  app/frontend/components/landing/QuoteFormSection.tsx
  app/frontend/components/ui/phone-number-input.tsx
  package-lock.json
  package.json
Due: typescript-check, package-json-check

feat: implement full multi-step quote request system test fixes to pass (issue #123)
  test/system/quote_requests_test.rb
Due: brakeman, ruby-syntax-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  rails-routes-check: any of: config/routes\.rb$
  rails-schema-check: any of: db/schema\.rb$
  annotaterb-models: any of: app/models/.*\.rb$
  bundle-audit: any of: Gemfile\.lock$
  brakeman: any of: \.(rb|erb|haml|slim)$
  ruby-syntax-check: any of: \.(rb|rake)$
  node-syntax-check: any of: \.(js|jsx)$
  package-json-check: any of: package\.json$
  terraform-syntax-check: any of: \.(tf|tfvars)$, but not: \.terraform/
  kustomization-validate: any of: ^kustomization\.ya?ml(\.tpl)?$
  kustomization-lint: any of: ^kustomization\.ya?ml(\.tpl)?$
  extra-manifests-validate: any of: infra/pipeline/base-infrastructure/extra-manifests/.*\.(ya?ml|tpl)$
