Repository magebase/site: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, rails-routes-check, rails-schema-check, bundle-audit, brakeman, ruby-syntax-check, node-syntax-check, package-json-check, terraform-syntax-check, kustomization-validate, kustomization-lint, kubectl-validate, extra-manifests-validate

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  rails-routes-check: any of: config/routes\.rb$
  rails-schema-check: any of: db/schema\.rb$
  bundle-audit: any of: Gemfile\.lock$
  brakeman: any of: \.(rb|erb|haml|slim)$
  ruby-syntax-check: any of: \.(rb|rake)$
  node-syntax-check: any of: \.(js|jsx)$
  package-json-check: any of: package\.json$
  terraform-syntax-check: any of: \.(tf|tfvars)$, but not: \.terraform/
  kustomization-validate: any of: ^kustomization\.ya?ml(\.tpl)?$
  kustomization-lint: any of: ^kustomization\.ya?ml(\.tpl)?$
  kubectl-validate: any of: \.(yaml|yml|tpl)$, but not: (?x)^(
  \.pre-commit-config\.yaml$|
  \.terraform/.*|
  kustomization\.ya?ml(\.tpl)?$
)$

  extra-manifests-validate: any of: infra/pipeline/base-infrastructure/extra-manifests/.*\.(ya?ml|tpl)$

fix: use bundle exec rails instead of bin/rails for assets precompile
  Dockerfile
Due: none

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
Due: none

Fix Rails assets precompile issue by adding proper Rails initialization
  Dockerfile
Due: none

Make attestation step non-blocking to prevent build failures
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

Fix pre-commit hooks configuration
  .github/workflows/rails-deployment.yml
  .pre-commit-config.yaml
Due: kubectl-validate

Simplify prettier hook configuration
  .pre-commit-config.yaml
  README.md
Due: none

fix: resolve container security scan and attestation issues
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
Due: none

fix
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

fix: add Docker authentication to security scan job
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
Due: none

fiX
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

feat: add AnnotateRb pre-commit hook and gem
  .pre-commit-config.yaml
  Gemfile
Due: none

fix: add bundle
  Gemfile.lock
Due: bundle-audit

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

fix: restore Docker authentication for security scan
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Due: none

fix: add image availability check to security scan
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
Due: none

fix: make SARIF upload robust against Advanced Security requirements
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
Due: none

fix: resolve sed command error in deployment step
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
Due: none

feat: add concurrency control to all GitHub Actions workflows
  .github/workflows/base-infrastructure.yml
  .github/workflows/rails-deployment.yml
  .github/workflows/site-infrastructure.yml
Due: kubectl-validate

fix: update security headers tests and restore comprehensive CSP
  config/application.rb
  test/integration/security_headers_test.rb
Due: brakeman, ruby-syntax-check

feat: implement secure headers with comprehensive security configuration
  Gemfile
  Gemfile.lock
  app/controllers/concerns/security_headers_concern.rb
  app/controllers/example_controller.rb
  config/application.rb
  config/initializers/secure_headers.rb
  test/integration/security_headers_test.rb
Due: bundle-audit, brakeman, ruby-syntax-check

feat: Implement PostgreSQL TLS encryption and comprehensive k3s encryption verification
  .github/workflows/rails-deployment.yml
  docs/postgresql-tls-implementation.md
  k8s/base/database.yaml
  verify-k3s-encryption.sh
Due: kubectl-validate

feat: Add template processing to workflow for Cloudflare R2 integration
  .github/workflows/site-infrastructure.yml
  k8s/base/database.yaml
Due: kubectl-validate

refactor: Remove Hetzner object storage credentials from workflow
  .github/workflows/site-infrastructure.yml
Due: kubectl-validate

fix: Correct ARGOCD_ADMIN_PASSWORD variable name in kustomization template
  k8s/README.md
Due: none

Fix SSL certificate issue by updating ingress class from nginx to traefik
  k8s/base/deployment.yaml
  k8s/deployment.yaml
Due: kubectl-validate

Fix Kubernetes deployment issues: remove deprecated PodSecurityPolicy and fix ArgoCD secret base64 encoding
  .pre-commit-config.yaml
  docs/postgresql-tls-implementation.md
  k8s/README.md
Due: none

Fix SSL certificate issue for ArgoCD subdomain
  SSL_CERTIFICATE_SOLUTION.md
Due: none

fix: Add missing Cloudflare API token to base infrastructure workflow
  .github/workflows/base-infrastructure.yml
Due: kubectl-validate

Complete SSL certificate fix implementation with final documentation
  ARGOCD_SSL_FIX.md
  SSL_CERTIFICATE_SOLUTION.md
  SSL_FIX_IMPLEMENTATION_SUMMARY.md
  comprehensive-ssl-monitor.sh
  debug-certificate-status.sh
  deploy-ssl-fix-e2e.sh
  deploy-ssl-fix.sh
  k8s/argocd-ssl-fix/argocd-ingress-patch.yaml
  k8s/argocd-ssl-fix/argocd-server-configmap.yaml
  k8s/argocd-ssl-fix/argocd-server-deployment-patch.yaml
  k8s/argocd-ssl-fix/argocd-server-service-patch.yaml
  k8s/argocd-ssl-fix/kustomization.yaml
  manual-ssl-fix.sh
  monitor-ssl-deployment.sh
  monitor-ssl-status.sh
  ssl-diagnosis.sh
  staging-ssl-test.sh
Due: kubectl-validate

feat: implement SSL termination at load balancer for ArgoCD
  create-aws-pipeline-role.sh
  debug-certificate-status.sh
  deploy-ses-to-management.sh
  deploy-ssl-fix-e2e.sh
  deploy-ssl-fix.sh
Due: none

Add ArgoCD ingress configuration for HTTP traffic (SSL terminates at Hetzner LB)
  ARGOCD_SSL_FIX.md
  INFRASTRUCTURE_MIGRATION_COMPLETE.md
  INFRASTRUCTURE_SETUP.md
  SSL_CERTIFICATE_SOLUTION.md
  SSL_FIX_IMPLEMENTATION_SUMMARY.md
  comprehensive-ssl-monitor.sh
  k8s/argocd-ssl-fix/argocd-ingress-patch.yaml
  k8s/argocd-ssl-fix/argocd-server-configmap.yaml
  k8s/argocd-ssl-fix/argocd-server-deployment-patch.yaml
  k8s/argocd-ssl-fix/argocd-server-service-patch.yaml
  k8s/argocd-ssl-fix/kustomization.yaml
  manual-ssl-fix.sh
  migrate_to_path_routing.sh
  monitor-ssl-deployment.sh
  monitor-ssl-status.sh
  setup-aws-accounts.sh
  setup-cluster-access.sh
  setup_aws_secrets.sh
Due: kubectl-validate

remove bad shell scripts
  setup-cluster-access.sh
Due: none
