Repository magebase/site: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, rails-routes-check, rails-schema-check, annotaterb-models, bundle-audit, brakeman, ruby-syntax-check, node-syntax-check, package-json-check, terraform-syntax-check, kustomization-validate, kustomization-lint, extra-manifests-validate

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false
  description: Run TypeScript compiler to check for type errors

rails-routes-check:
  name: Rails Routes Check
  entry: bash -c "RAILS_MASTER_KEY=4c0c11a6d1bc2ef984357839668cdb5c bin/rails routes"
  language: system
  pass_filenames: false
  description: Check if Rails routes are valid

rails-schema-check:
  name: Rails Schema Check
  entry: bin/rails db:schema:dump
  language: system
  pass_filenames: false
  description: Validate Rails database schema

annotaterb-models:
  name: AnnotateRb Model Annotations
  entry: 'sh -c "if command -v annotaterb >/dev/null 2>&1; then annotaterb models --position=after --sort; else echo \"⚠️  Skipping AnnotateRb (annotaterb not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  ...

bundle-audit:
  name: Bundle Audit
  entry: 'sh -c "if command -v bundle-audit >/dev/null 2>&1; then bundle-audit check --update; else echo \"⚠️  Skipping bundle audit (bundle-audit not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  description: Check for vulnerable gems in Gemfile.lock

brakeman:
  name: Brakeman Security Scan
  entry: 'sh -c "if command -v brakeman >/dev/null 2>&1; then brakeman --no-pager .; else echo \"⚠️  Skipping Brakeman security scan (brakeman not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  description: Run Brakeman security scanner on Rails application

ruby-syntax-check:
  name: Ruby Syntax Check
  entry: ruby -c
  language: system
  pass_filenames: true
  description: Check Ruby syntax

node-syntax-check:
  name: Node.js Syntax Check
  entry: node --check
  language: system
  pass_filenames: true
  description: Check JavaScript syntax

package-json-check:
  name: Package.json Validation
  entry: 'sh -c "if command -v npm >/dev/null 2>&1; then npm ls --depth=0 >/dev/null 2>&1 && echo \"✓ package.json dependencies are valid\"; else echo \"⚠️  Skipping package.json validation (npm not installed)\"; fi"
  
    '
  language: system
  pass_filenames: false
  ...

terraform-syntax-check:
  name: Terraform Syntax Check
  entry: terraform fmt -check
  language: system
  pass_filenames: false
  description: Check Terraform syntax

kustomization-validate:
  name: Kustomization Validation
  entry: 'sh -c "if command -v kustomize >/dev/null 2>&1; then kustomize build --load-restrictor LoadRestrictionsNone \"$1\"; else echo \"⚠️  Skipping kustomization validation (kustomize not installed): $1\"; fi"
  
    '
  language: system
  pass_filenames: true
  ...

kustomization-lint:
  name: Kustomization Linting
  entry: 'sh -c "if command -v kustomize >/dev/null 2>&1; then kustomize build --load-restrictor LoadRestrictionsNone \"$1\" > /dev/null && echo \"✓ $1 validates successfully\"; else echo \"⚠️  Skipping kustomization linting (kustomize not installed): $1\"; fi"
  
    '
  ...

extra-manifests-validate:
  name: Extra Manifests Validation
  ...

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  160e0876181ea00c6b74d00a7493a503dd5dcd1d
Due: none

fix
  .github/workflows/app-build-and-deployment.yml
  Dockerfile
  tsconfig.app.json
Due: none

fix: remove unused QuotePdfGenerator service causing prawn LoadError in CI
  .github/workflows/app-build-and-deployment.yml
  app/services/quote_pdf_generator.rb
  config/routes.rb
  test/controllers/resources_controller_test.rb
Due: rails-routes-check, brakeman, ruby-syntax-check

fix
  .github/workflows/app-build-and-deployment.yml
  Dockerfile
  app/services/stripe_invoice_service_new.rb
Due: brakeman, ruby-syntax-check

fix: ensure performance tests pass before deployment and require all jobs success
  .github/workflows/app-build-and-deployment.yml
Due: none

fix: ensure performance tests pass before deployment and require all jobs successgit add .
  .github/workflows/app-build-and-deployment.yml
  k8s/deployment.yaml
Due: none

fix
  .github/workflows/app-build-and-deployment.yml
Due: none

feat: implement environment promotion system
  .github/workflows/README-environment-promotion.md
  .github/workflows/app-build-and-deployment.yml
  .github/workflows/environment-promotion.yml
  k8s/overlays/qa/kustomization.yaml
  k8s/overlays/qa/qa-patches.yaml
  k8s/overlays/uat/kustomization.yaml
  k8s/overlays/uat/uat-patches.yaml
Due: none

fix: update Trivy security scan to show all vulnerabilities without failing
  .github/workflows/app-build-and-deployment.yml
Due: none

fix
  .github/workflows/app-build-and-deployment.yml
  k8s/overlays/prod/prod-patches.yaml
  k8s/overlays/qa/qa-patches.yaml
  k8s/overlays/uat/uat-patches.yaml
Due: none

fix
  .github/workflows/app-build-and-deployment.yml
  .github/workflows/environment-promotion.yml
Due: none

feat: add clear GHCR image link display in semantic-release-publish job
  .github/workflows/app-build-and-deployment.yml
Due: none

fix: realease
  .github/workflows/README-environment-promotion.md
  app/frontend/components/landing/AppleCardsSection.tsx
  app/frontend/components/landing/QuoteFormSection.tsx
  app/frontend/components/landing/QuoteFormSection.tsx.backup
  docs/technical-design.md
Due: typescript-check

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  9ec616437ad0e99ed545c081e288ffb9e4ed26b0
Due: none

fix
  .github/workflows/trigger-release-manifest-update.yml
  Dockerfile
  Gemfile
  package-lock.json
  package.json
Due: package-json-check

fix
  .github/workflows/trigger-release-manifest-update.yml
Due: none

fix
  .github/workflows/release-promotion.yml
  .github/workflows/trigger-release-manifest-update.yml
Due: none

fix
  .github/workflows/release-promotion.yml
Due: none

fix
  .github/workflows/release-promotion.yml
  infra/pipeline/site-infrastructure/ssm-parameters.tf
  infra/pipeline/site-infrastructure/variables.tf
  k8s/base/database.yaml
  k8s/base/deployment.yaml
  k8s/base/kustomization.yaml
  k8s/base/secrets.yaml
  k8s/deployment.yaml
  k8s/overlays/dev/dev-patches.yaml
  k8s/overlays/dev/kustomization.yaml
  k8s/overlays/prod/kustomization.yaml
  k8s/overlays/prod/prod-patches.yaml
  k8s/overlays/qa/qa-patches.yaml
  k8s/overlays/uat/uat-patches.yaml
  test-infinite-cards.tsx
Due: typescript-check, terraform-syntax-check

fix: Docker build permissions and remove DATABASE_URL from Terraform
  Dockerfile
  infra/pipeline/site-infrastructure/ssm-parameters.tf
  infra/pipeline/site-infrastructure/variables.tf
Due: terraform-syntax-check

feat: Replace acts_as_tenant with activerecord-multi-tenant
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/models/quote_request.rb
  config/database.yml
  db/schema.rb
  test/fixtures/change_requests.yml
  test/fixtures/documents.yml
  test/fixtures/quote_requests.yml
  test/fixtures/tenants.yml
  test/fixtures/users.yml
  test/models/change_request_test.rb
  test/models/document_test.rb
  test/models/quote_request_test.rb
  test/models/tenant_test.rb
Due: rails-schema-check, annotaterb-models, bundle-audit, brakeman, ruby-syntax-check

fix: Docker build permissions error
  Dockerfile
Due: none

Revert to activerecord-multi-tenant for Rails 8 compatibility
  .github/workflows/environment-promotion.yml
  .github/workflows/rails-deployment.yml
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/concerns/tenant_path.rb
  app/controllers/quote_requests_controller.rb
  db/migrate/20250908052208_add_quoted_at_to_quote_requests.rb
  db/schema.rb
  test/controllers/client/dashboard_controller_test.rb
  test/controllers/quote_requests_controller_test.rb
  test/controllers/resources_controller_test.rb
  test/controllers/tenant_dashboard_controller_test.rb
  test/controllers/tenants_controller_test.rb
  test/models/change_request_test.rb
  test/models/document_test.rb
  test/models/quote_request_test.rb
  test/services/pricing_service_test.rb
Due: rails-schema-check, bundle-audit, brakeman, ruby-syntax-check

Fix QuoteRequestsControllerTest by removing acts_as_tenant filter
  app/controllers/application_controller.rb
Due: brakeman, ruby-syntax-check

Fix Rubocop string literal offenses in Gemfile
  Gemfile
Due: none

Fix CI/CD pipeline and setup Ahoy analytics with multi-tenancy
  app/models/ahoy/event.rb
  app/models/ahoy/visit.rb
  app/models/quote_request.rb
  db/migrate/20250908070910_create_ahoy_visits_and_events.rb
  db/migrate/20250908071006_add_account_to_ahoy_visits_and_events.rb
  db/migrate/20250908071127_make_tenant_nullable_in_ahoy_tables.rb
  db/schema.rb
  test/fixtures/quote_requests.yml
  test/models/quote_request_test.rb
  tmp/pids/.keep
  tmp/storage/.keep
Due: rails-schema-check, annotaterb-models, brakeman, ruby-syntax-check

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6c01380c52d015478082aa3dec70981988f58c62
Due: none

Fix release workflow: improve error handling and JSON formatting
  .github/workflows/trigger-release-manifest-update.yml
Due: none

fix' git push origin main '
  .github/workflows/environment-promotion.yml
  .github/workflows/rails-deployment.yml
  .github/workflows/trigger-release-manifest-update.yml
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  rails-routes-check: any of: config/routes\.rb$
  rails-schema-check: any of: db/schema\.rb$
  annotaterb-models: any of: app/models/.*\.rb$
  bundle-audit: any of: Gemfile\.lock$
  brakeman: any of: \.(rb|erb|haml|slim)$
  ruby-syntax-check: any of: \.(rb|rake)$
  node-syntax-check: any of: \.(js|jsx)$
  package-json-check: any of: package\.json$
  terraform-syntax-check: any of: \.(tf|tfvars)$, but not: \.terraform/
  kustomization-validate: any of: ^kustomization\.ya?ml(\.tpl)?$
  kustomization-lint: any of: ^kustomization\.ya?ml(\.tpl)?$
  extra-manifests-validate: any of: infra/pipeline/base-infrastructure/extra-manifests/.*\.(ya?ml|tpl)$
