Repository magebase/site: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, rails-routes-check, rails-schema-check, bundle-audit, brakeman, ruby-syntax-check, node-syntax-check, package-json-check, terraform-syntax-check, kustomization-validate, kustomization-lint, kubectl-validate, extra-manifests-validate

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  rails-routes-check: any of: config/routes\.rb$
  rails-schema-check: any of: db/schema\.rb$
  bundle-audit: any of: Gemfile\.lock$
  brakeman: any of: \.(rb|erb|haml|slim)$
  ruby-syntax-check: any of: \.(rb|rake)$
  node-syntax-check: any of: \.(js|jsx)$
  package-json-check: any of: package\.json$
  terraform-syntax-check: any of: \.(tf|tfvars)$, but not: \.terraform/
  kustomization-validate: any of: ^kustomization\.ya?ml(\.tpl)?$
  kustomization-lint: any of: ^kustomization\.ya?ml(\.tpl)?$
  kubectl-validate: any of: \.(yaml|yml|tpl)$, but not: (?x)^(
  \.pre-commit-config\.yaml$|
  \.terraform/.*|
  kustomization\.ya?ml(\.tpl)?$
)$

  extra-manifests-validate: any of: infra/pipeline/base-infrastructure/extra-manifests/.*\.(ya?ml|tpl)$

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0acfd146c4ebc2c9810121fb78bb652c1bc54f07
Due: none

fix: correct container registry image path
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

fix: correct container registry name to magebase/site
  .github/workflows/rails-deployment.yml
Due: kubectl-validate

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a13bafd1747da59f23823bbc01bad43754663297
Due: none

fix
  .github/workflows/deploy.yml
  .tflint.hcl
  infra/pipeline/site-infrastructure/.terraform.lock.hcl
  infra/pipeline/site-infrastructure/main.tf
  infra/pipeline/site-infrastructure/modules/ssm-parameters/.terraform.lock.hcl
  infra/pipeline/site-infrastructure/modules/ssm-parameters/main.tf
  infra/pipeline/site-infrastructure/modules/ssm-parameters/outputs.tf
  infra/pipeline/site-infrastructure/modules/ssm-parameters/variables.tf
  infra/pipeline/site-infrastructure/outputs.tf
  k8s/README-ESO.md
  k8s/README.md
  k8s/base/configmap.yaml
  k8s/base/deployment.yaml
  k8s/base/kustomization.yaml
  k8s/base/secrets.yaml
  k8s/overlays/dev/configmap-patch.yaml
  k8s/overlays/dev/kustomization.yaml
  k8s/overlays/prod/configmap-patch.yaml
  k8s/overlays/prod/kustomization.yaml
Due: terraform-syntax-check, kubectl-validate

fix: remove deploy.yml
  .github/workflows/deploy.yml
Due: kubectl-validate

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2bcde209c35c78478aab2e945cb0f5ae0d08fe5d
Due: none

fix stripe fees
  .github/workflows/deploy.yml
  .github/workflows/site-infrastructure.yml
  infra/pipeline/site-infrastructure/main.tf
  infra/pipeline/site-infrastructure/modules/aws-ses-users/main.tf
  infra/pipeline/site-infrastructure/modules/aws-ses-users/outputs.tf
  infra/pipeline/site-infrastructure/modules/aws-ses-users/variables.tf
  infra/pipeline/site-infrastructure/modules/ssm-parameters/.terraform.lock.hcl
  infra/pipeline/site-infrastructure/modules/ssm-parameters/variables.tf
  infra/pipeline/site-infrastructure/modules/stripe/README.md
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
  infra/pipeline/site-infrastructure/modules/stripe/outputs.tf
  infra/pipeline/site-infrastructure/modules/stripe/variables.tf
  infra/pipeline/site-infrastructure/ssm-parameters.tf
  infra/pipeline/site-infrastructure/variables.tf
  k8s/README-ESO.md
  k8s/README.md
  k8s/generate-secrets.sh
  scripts/install-eso.sh
Due: terraform-syntax-check, kubectl-validate

fix remove deploy
  .github/workflows/deploy.yml
Due: kubectl-validate

fix
  infra/pipeline/site-infrastructure/ssm-parameters.tf
Due: terraform-syntax-check

fix
  app/services/contract_generation_service.rb
  app/services/llm_service.rb
  app/services/pricing_service.rb
  app/services/project_planning_service.rb
  config/initializers/ruby_llm.rb
  infra/pipeline/site-infrastructure/modules/ses/.terraform.lock.hcl
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
  infra/pipeline/site-infrastructure/ssm-parameters.tf
  infra/pipeline/site-infrastructure/variables.tf
Due: brakeman, ruby-syntax-check, terraform-syntax-check

fix: update free tier
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
Due: terraform-syntax-check

fix
  .github/workflows/rails-deployment.yml
  .github/workflows/site-infrastructure.yml
Due: kubectl-validate

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  fee549a8481c0728c71c22009a47e49256557c5c
Due: none

fix
  .pre-commit-config.yaml
  infra/pipeline/site-infrastructure/main.tf
Due: terraform-syntax-check

fix: add stripe_api_key
  .github/workflows/site-infrastructure.yml
  infra/pipeline/site-infrastructure/main.tf
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
  infra/pipeline/site-infrastructure/modules/stripe/variables.tf
  infra/pipeline/site-infrastructure/variables.tf
Due: terraform-syntax-check, kubectl-validate

fix: add stripe_api_key
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
Due: terraform-syntax-check

fix
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
Due: terraform-syntax-check

fix
  .github/workflows/site-infrastructure.yml
Due: kubectl-validate

fix
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
  infra/pipeline/site-infrastructure/modules/stripe/variables.tf
Due: terraform-syntax-check

fix push to main
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
Due: terraform-syntax-check

fix: portal per product
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
Due: terraform-syntax-check

fix
  infra/pipeline/site-infrastructure/modules/stripe/main.tf
  infra/pipeline/site-infrastructure/modules/stripe/outputs.tf
Due: terraform-syntax-check

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  beb4a15963ae8d979333ea9d3e43389a972dbd52
Due: none

fix
  .github/workflows/rails-deployment.yml
  components/ui/infinite-moving-cards-demo.tsx
  infra/pipeline/site-infrastructure/ssm-parameters.tf
  setup-ssm-company-params.sh
Due: typescript-check, terraform-syntax-check, kubectl-validate

fix
  .github/workflows/rails-deployment.yml
Due: kubectl-validate
